
@{
    ViewData["Title"] = "statistics";
    Layout = "~/Areas/Admin/Views/AdvancedSearch/_Layout.cshtml";
}


<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="section-title text-center">
                    <h2>Rezumat Căutari</h2>
                    &nbsp;
                    &nbsp;
                    <h4>Totalul tuturor cautarilor in functie de cuvintele cheie cautate</h4>
                    &nbsp;
                    <h4>Conform legendei, cautarile ce contin un singur cuvant cheie sunt afisate in exteriorul graficului</h4>
                    &nbsp;
                    <h4>Cautarile ce contin doua sau mai multe cuvinte cheie sunt afisate in interiorul graficului</h4>
                    &nbsp;
                    &nbsp;
                    <button onclick="closeTab()" value="BACK" class="btn btn-primary ui submit button">Go Back</button>
                </div>
                
            </div>

            <div class="col-xs-6">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
        </div>
        
    </div>
</section>

<div id="wrapper">
    <button onclick="closeTab()" value="BACK" class="btn btn-primary ui submit button">Go Back</button>
</div>


<style>
    .afisareCodContainer {
        margin-top: 5%;
    }

    .afisareButon {
        margin-top: 5%;
    }

    #wrapper {
        display: flex;
        justify-content: center;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
    function closeTab() {
        if (confirm("Close Tab?")) {
            close();
        }

    }
    window.onload = incarcareChart;

    function incarcareChart() {
        var k;
        var m;
        $.ajax({
            type: "GET",
            url: '/charts/searchesStatisticsCautareUnCuvant',
            data: {
            },
            async: false,
            success: function (date) {
                k = date;
            },
            error: function (error) {
                alert(error);
            }
        });

        $.ajax({
            type: "GET",
            url: '/charts/searchesStatisticsCautareMultipla',
            data: {
            },
            async: false,
            success: function (date) {
                m = date;
            },
            error: function (error) {
                alert(error);
            }
        });
        var toate = Object.keys(k);
        var t = Object.keys(m);
        toate = toate + t;
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: [
                        '#22313F',
                        '#2C3E50',
                        '#1F3A93',
                        '#3A539B',
                        '#446CB3',
                        '#1E8BC3',
                        '#19B5FE',
                        '#6BB9F0',//albastru deschis
                        '#81CFE0',//verde deschis
                        '#4ECDC4',
                        '#03C9A9',
                        '#1BA39C',
                        '#16A085',
                        '#1E824C',
                        '#049372',
                        '#03A678',
                        '#90C695',
                        '#C8F7C5',
                        '#FDE3A7',
                        '#F4B350',
                        '#EB9532',
                        '#F89406',
                        '#F9690E',
                        '#D35400',
                        '#C0392B',
                        '#96281B'
                        
                    ],
                    borderColor: 'lightgrey',
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJointStyle: 'miter',
                    data: Object.values(k),
                    labels: Object.keys(k),
                }, {
                        fill: false,
                        lineTension: 0,
                        backgroundColor: [
                            '#96281B',
                            '#C0392B',
                            '#D35400',
                            '#F9690E',
                            '#F89406',
                            '#EB9532',
                            '#F4B350',
                            '#FDE3A7',
                            '#C8F7C5',
                            '#90C695',
                            '#03A678',
                            '#049372',
                            '#1E824C',
                            '#16A085',
                            '#1BA39C',
                            '#03C9A9',
                            '#4ECDC4',
                            '#81CFE0',//verde deschis
                            '#6BB9F0',//albastru deschis
                            '#19B5FE',
                            '#1E8BC3',
                            '#446CB3',
                            '#3A539B',
                            '#1F3A93',
                            '#2C3E50',
                            '#22313F',
                        ],
                        borderColor: 'lightgrey',
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJointStyle: 'miter',
                        data: Object.values(m),
                        labels: Object.keys(m),
                    }],
                labels: Object.keys(k)
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var index = tooltipItem.index;
                            return dataset.labels[index] + ': ' + dataset.data[index];
                        }
                    }
                }
            }
        });
    }

</script>

