
@{
    ViewData["Title"] = "resultSearch";
}

<div class="afisareCodContainer">
    <div class="container">
        <pre>
        <code>
            @ViewBag.result
        </code>
        </pre>
    </div>
</div>

<h2>resultSearch</h2>

