
@{
    ViewData["Title"] = "resultSearch";
    Layout = "~/Areas/Admin/Views/AdvancedSearch/_Layout.cshtml";
}

<div class="afisareButon"></div>
<div id="wrapper">
    <button onclick="closeTab()" value="BACK" class="btn btn-primary ui submit button">Go Back</button>
</div>


<div class="afisareCodContainer">
    <div class="container">
        <pre>
        <code>
            @ViewBag.result
        </code>
        </pre>
    </div>
</div>

<div id="wrapper">
    <button onclick="closeTab()" value="BACK" class="btn btn-primary ui submit button">Go Back</button>
</div>


<style>
    .afisareCodContainer{
        margin-top:5%;
    }
    .afisareButon{
        margin-top:5%;
    }
    #wrapper {
        display: flex;
        justify-content: center;
    }
</style>

<script>
    function closeTab() {
        if (confirm("Close Tab?")) {
            close();
        }

    }
</script>

