@model List<LandingPage.Models.CMSViewModels.CMSViewModels>
@using LandingPage.Extensions

@{
    //ViewData["Title"] = "Home Page";
    //var _cmsRepo = new Service.CMSManager();
    //var listCmsDetails = Model.Where(obj => obj.Id == 39).First().CMSDetails;
    //var listReviews = Model.Where(obj => obj.Id == 40).First().CMSDetails;
    //var listVideos = Model.Where(obj => obj.Id == 36).First().CMSDetails;
    //var listPrices = Model.Where(obj => obj.Id == 43).First().CMSDetails;

}


<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @*<meta name=”description” content=”The most awesome landing page.”>*@
    <meta name=”title” content=”Licenta”>
    <meta name="description" content="App web">
    <meta name="keywords" content="Licenta, automatizare, AI, IA">
    @*<link href="~/css/prism.css" rel="stylesheet" />*@
    <link href="~/css/prism.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="themes/plugins/prism-line-numbers.css" />*@
</head>
<!--Preload-->
<div class="preloader">
    <div class="preloader_image">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>
</div>


<div id="home" class="banner" style="">
    <div class="overlay"></div>
    <div class="banner-caption">
        <section class="section-spacing" id="cautare">
            <div class="container">
                <div class="row">
                    <div class="caption-inner text-center wow fadeInUp">
                        <h1>INSTRUMENT PENTRU CREAREA AUTOMATIZATĂ DE SOFTWARE</h1>
                    </div>
                    <div class="caption-inner text-center wow fadeInUp"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <div class="subscribe-content text-center">
                            <form action="#" method="post" id="searchForm">
                                <div class="input-group">
                                    <input method="post" type="text" class="form-control ui" id="searchBar" placeholder="Keyword1@Keyword2" name="searchBar" />
                                    <div class="help-block with-errors"></div>
                                    <span class="input-group-addon">
                                        <button onclick="search()" value="SEARCH" class="btn btn-primary ui submit button">Search</button>
                                    </span>


                                </div>
                                <div id="SearchMessageId"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="section-title"></section>
<div class="container descriereCautare" id="descriereCautare">
    <div class="row">
        <div class="col-xs-6">
            <canvas id="myChart" width="200" height="200"></canvas>
            <div class="section-title text-center">
                <h5>segmente de cod sursa analizate</h5>
            </div>
        </div>
        <div class="col-xs-6" id="numar">
            <div class="section-title text-center">
                @{
                    var numeCautare = Workflow.getCurrentSearch();
                    <h2>@numeCautare</h2>
                }
            </div>
        </div>
        <div class="col-xs-6" id="maxValueFinal">
            <div class="section-title text-center">

                <h4>Rezultatul are corespondent cel mai mare scor final</h4>
                <h3>@Workflow.getBestScore()*</h3>
                <h5>*scor calculat cu ajutorul algoritmilor de cautare</h5>
                &nbsp;
                <h4>Pentru a vizualiza totalul de cautari:</h4>
                <button onclick="openStatistics()" class="btn btn-primary ui submit button">Statistici</button>
            </div>
        </div>

    </div>
</div>

<section class="section-title"></section>

<div class="afisareCodContainer">
    <div class="container">
        <pre class="line-numbers language-markup">@*line-numbers*@ 
        <code class="language-cpp">
            @Workflow.execute()
        </code>
        </pre>
    </div>
</div>

<section class="section-title"></section>

<section class="section-spacing" id="advanced">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="caption-thumb text-center">
                    <h1>Căutare după alte criterii</h1>
                    <p>Alege din lista de căutări posibile pentru a accesa exemple concrete de cod în C++.</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="caption-thumb text-center">
                    <button onclick="myFunction()" class="btn btn-default">CAUTARE AVANSATA</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing" id="alternative">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Rezultate alternative pentru căutare</h2>
                <p>Vizualizează și utilizează variante alternative pentru căutarea efectuată.</p>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="screenshot-carousel" data-carousel-3d>
                    @{
                        List<string> listaNextBest = new List<string>();
                        listaNextBest = Workflow.executeNextBest();
                        foreach (string s in listaNextBest)
                        {

                            <code class="language-cpp">
                                @s
                            </code>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<section id="subscription" class="section-spacing bg-img" style="">
    @*<div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="subscribe-content text-center">
                        <form action="#" method="post" id="newsletterForm">
                            <div class="input-group">
                                <input type="email" class="form-control ui email" id="newsletterUser" placeholder="Email Address" required data-error="Please enter your valid email address" name="newsletterUser" />
                                <div class="help-block with-errors"></div>
                                <span class="input-group-addon">
                                    <input class="btn btn-primary" value="subscribe" onclick="createUser()">
                                </span>
                            </div>
                            <div id="NewsletterMessageId"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
</section>

<section class="section-spacing" id="salveaza">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Salvare</h2>
                <p>Salvează segmente de cod corecte pentru a ajuta la îmbunătățirea aplicației!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 ">
                <form id="contactForm" class="contact-form wow fadeInLeft ui form" data-toggle="validator" method="post">
                    <div class="row">
                        <div class="col-sm-12 col-sm-6">
                            <div class="form-group">
                                <input placeholder="First Name" id="fname" class="form-control ui fname " name="fname" type="text" required data-error="Please enter your first name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-6">
                            <div class="form-group">
                                <input placeholder="Last Name" id="lname" class="form-control ui lname" name="lname" type="text" required data-error="Please enter your last name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input placeholder="Email Address" id="email" class="form-control ui email" name="email" type="email" required data-error="Please enter your valid email address">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <textarea placeholder="Modified Code" name="message" id="message" cols="20" rows="8" class="form-control ui message" required data-error="Please enter your comments"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="ui error message err-msg">
                        <div id="ContactMessageId"></div>
                    </div>
                    <div class="captcha">
                        <div class="g-recaptcha" data-sitekey="6Leo1mMUAAAAAHDfmu7XGAWv-PKxZk9_TvS76qs6" id="g-recaptcha"></div>
                        <div class="col-2">
                            <button onclick="submitContactForm()" value="Submit" name="submit" class="btn btn-primary ui submit button">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="back-top">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/SmoothScroll.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/jquery.parallax-1.1.3.js"></script>
<script src="~/js/modernizr-2.8.3.min.js"></script>
<script src="~/js/jquery.resize.ex.js"></script>
<script src="~/js/waitforimages.js"></script>
<script src="~/js/jquery.carousel-3d.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.mb.YTPlayer.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?js?sensor=false&key=AIzaSyDkpD0-hjaAUydUfLOlXKKqInB64EqyCBo"></script>
<script src="~/js/script.js"></script>
<script src="~/js/prism.js"></script>
<script src="~/js/require.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>


<style>
    #chart {
        height: 440px;
    }

    #wrapper {
        display: flex;
        justify-content: center;
    }

    /*.token.keyword.keyword-return, .token.keyword.keyword-copiere {
        background: #EF4836;
    }*/

    .caption-thumb text-center {
        color: white;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<script>
    $(document).ready(function () {
        initialize();
    });
    function search() {
        var data = $('#searchBar').val();
        $.ajax({
            type: "POST",
            url: '/admin/searches/Create',
            data: {
                keywords: data
            }
        }).success(function (response) {
            document.getElementById("SearchMessageId").innerHTML = response.message;
            if (response.success == true)
                $('#searchBar').val('');
            document.getElementById("SearchMessageId").innerHTML = response.message;
        })
        $('#afisareCodContainer').load(document.URL + '#afisareCodContainer');
        $('#descriereCautare').load(document.URL + '#descriereCautare');
    }

    function myFunction() {
        window.open("admin/advancedSearch/chooseSearch");
    }

    function openStatistics() {
        window.open("statistics");
    }

    window.onload = incarcareChart;

    function incarcareChart() {
        var k;
        var l;
        var final;
        $.ajax({
            type: "GET",
            url: '/charts/keywords',
            data: {
            },
            async: false,
            success: function (date) {
                k = date;
            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: '/charts/language',
            data: {
            },
            async: false,
            success: function (date) {
                l = date;

            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: '/charts/finalScores',
            data: {
            },
            async: false,
            success: function (date) {
                final = date;

            },
            error: function (error) {
                alert(error);
            }
        });
        var maxFinal = Math.max(Object.values(final));
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Object.keys(k),
                datasets: [{
                    label: 'Scor cuvinte cheie',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJointStyle: 'miter',
                    data: Object.values(k)
                },
                {
                    label: 'Scor limbaj',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(246, 36, 89)",
                    borderColor: "rgba(219, 10, 91)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJointStyle: 'miter',
                    data: Object.values(l)
                },
                {
                    label: 'Scor final',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(3, 166, 120)",
                    borderColor: "rgba(30, 130, 76)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJointStyle: 'miter',
                    data: Object.values(final)
                }]
            },
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(44, 62, 80)'
                    }
                },
                title: {
                    display: true,
                    text: 'Rezultat cautari cu ajutorul algoritmilor'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    }

    function submitContactForm() {
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        var email = $('#email').val();
        var message = $('#message').val();
        var valid = $('#g-recaptcha-response').val();
        if (valid == "") {
            document.getElementById('ContactMessageId').innerHTML = 'validateCaptcha';
        }
        else
            if (fname == "" || lname == "" || email == "" || message == "") {
                document.getElementById("ContactMessageId").innerHTML = "Validare toate campuri";
                $('#errheader').val('Please check');
                $('#fname').addClass('field error');
                $('#lname').addClass('field error');
                $('#email').addClass('field error');
                $('#message').addClass('field error');
                $('#contactForm').addClass('error');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Home/ContactForm',
                    data: {
                        fname: fname,
                        lname: lname,
                        email: email,
                        message: message,
                        recaptcha: valid
                    }, dataType: 'Json',
                }).success(function (data) {
                    document.getElementById("ContactMessageId").innerHTML = data.message;
                    grecaptcha.reset();
                    if (data.success == true) {
                        $('#fname').val('');
                        $('#lname').val('');
                        $('#email').val('');
                        $('#message').val('');
                    }
                })
            }
    }

    $(document).ready(function () {
        $('#contactForm')
            .form({
                on: 'blur',
                fields: {
                    fname: {
                        identifier: 'fname',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'ValidareFName'
                            }
                        ]
                    },
                    lname: {
                        identifier: 'lname',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'ValidareLName'
                            }
                        ]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'ValidareEmail'
                            }
                        ]
                    },
                    message: {
                        identifier: 'message',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'ValidareMessage'
                            }
                        ]
                    }
                }
            });
    });

    function createUser() {
        var data = $('#newsletterUser').val();
        if (data == "") {
            document.getElementById("NewsletterMessageId").innerHTML = "Validare Campuri";
        }
        $.ajax({
            url: '/admin/NewsletterUsers/Create',
            data: {
                Email: data
            }
        }).success(function (response) {
            document.getElementById("NewsletterMessageId").innerHTML = response.message;
            if (response.success == true)
                $('#newsletterUser').val('');
        })
    }
</script>


@section Scripts{
    <script src="~/js/semantic.min.js"></script>
    <script src="~/js/data.js"></script>
}
